* {
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__container label {
  font-weight: 800;
}

.form__container input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.input__container {
  display: flex;
  flex-direction: column;
}
.submit__button {
  padding: 0.25rem 0.5rem;
  background-color: gray;
  color: beige;
}

select {
  padding: 0.5rem;
}